<!-- ================= FOOTER ================= -->

<footer id="contact">

    <div class="footer-container">

        <div class="footer-about">

            <div class="logo">

                <i class="fa-solid fa-utensils"></i>

                Food
                <span class="logo-color">
                    Fusion
                </span>

            </div>

            <p>
                Delicious food delivered fresh to your doorstep.
            </p>

            <div class="social-icons">

                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>

            </div>

        </div>


        <div>

            <h3>Quick Links</h3>

            <a href="#home">Home</a>
            <a href="#restaurants">Restaurants</a>
            <a href="#menu">Menu</a>
            <a href="#offers">Offers</a>
            <a href="#orders">Orders</a>

        </div>


        <div>

            <h3>Contact</h3>

            <p>
                <i class="fa-solid fa-phone"></i>
                +91 98765 43210
            </p>

            <p>
                <i class="fa-solid fa-envelope"></i>
                foodfusion@gmail.com
            </p>

            <p>
                <i class="fa-solid fa-location-dot"></i>
                Chennai, India
            </p>

        </div>

    </div>


    <div class="copyright">

        © 2026 Food Fusion.
        All Rights Reserved.

    </div>

</footer>
